* {
    margin:0;
    
}

.class4 {
    display:none;
}

.openImageClass {
    width: 100px;
    border: 1px solid;
    cursor:pointer;
    display: none;
    background-color: blueviolet;
}

.closedImageClass {
    width: 100px;
    border: 1px solid;
    cursor:pointer;
    display: none;
    background-color: aqua;
}

.active {
    display: block;
}

.hover {
    /* transform: scale(2); */
    background-color: brown;
}

.timer {
    display: flex;
}

/* .navbar {
    text-align: center;
}
.navbar ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    

} */

.headerclass {
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: coral;
    color:white
}

.headerclass ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.headerclass ul li {

    width: 50px;
    margin: 15px;
    padding:15px
}

.headerclass ul li:hover {
    cursor: pointer;
    color:black;
    background-color: white;
}

.listclass {
    margin-right: 10px;

}

.restaurantlist{
    height: 300px;
    border: 1px solid;
    display:flex;
    background-color: black;
}

.restaurantlist div {

    margin-top: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

.restaurant{
    width: 150px;
    height: 250px;
    border: 1px solid white;
    color:white;
}

.submenu-1{
    display: none;
}

.headerclass ul li:hover .submenu-1 {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-bottom: -20px;
}
